<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         bootstrap="bootstrap.php">

    <testsuites>
        <testsuite name="TC Admitad Import">
            <directory>./magento/app/code/local/TC/AdmitadImport/Test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
        </whitelist>
    </filter>
</phpunit>
