<?xml version="1.0"?>
<config>
    <modules>
        <TC_Catalog>
            <version>0.0.1</version>
        </TC_Catalog>
    </modules>
    <global>
        <helpers>
            <catalog>
                <rewrite>
                    <data>TC_Catalog_Helper_Catalog_Data</data>
                </rewrite>
            </catalog>
        </helpers>
    </global>
</config>
