.menu-box {
    float: left;
    padding: 15px 0 10px;
    background: #fff;
    width: 100%;
}

#custommenu {
    position: relative;
}

/*IE7 fix*/
*:first-child + html #custommenu {
    z-index: 998;
}

div.menu {
    float: left;
    padding: 0;
    margin: 0;
}

div.menu > .parentMenu > a {
    display: block;
    padding: 0 10px;
}

div.menu a span {
    padding: 7px 0 3px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

div.wp-custom-menu-popup {
    position: absolute;
    z-index: 10000;
    display: none;
    text-align: left;
    padding: 0 0 10px;
    border-top: 0;
    width: 100%;
    margin-top: -1px;
}

div.wp-custom-menu-popup a span {
    cursor: pointer;
}

div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display: block;
    _height: 0;
    height: auto;
}

div.level1 {
    margin-bottom: 5px;
}

div.level3 {
    margin-bottom: 5px;
    padding: 5px;
}

div.block2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

a.level1:link, a.level1:visited {
    margin: 10px 0 5px;
}

/* Clearfix */
div.block2:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] div.block2 {
    display: block;
}

* html div.block2 {
    height: 1%;
}

div.block2 p {
    margin-bottom: 3px;
    line-height: 120%;
    color: #000;
    font-size: 11px;
}

div.block2 p a {
    display: inline;
}

div.block2 a img {
    opacity: .9;
    filter: alpha(opacity=90);
}

div.wp-custom-menu-popup hr {
    margin: 0 0 10px;
}

/******************************************* COLUMN WIDTH ***************************** */
div.column {
    float: left;
    width: 23%; /* for 4 columns*/
    padding: 0 1%;
    margin: 0;
}

/*end COLUMN WIDTH  */

div.itemSubMenu {
    margin-left: 0;
}

.clearBoth {
    clear: both;
    height: 0;
    overflow: hidden;
}

div.level1 {
    margin-bottom: 0;
}

div.wp-custom-menu-popup {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

div.menu.active a {
    color: #fff !important;
}

/*FONTS*/
div.menu {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

/*COLOR*/
div.menu .wp-custom-menu-popup a:link, div.menu a:visited {
    outline: 0 none;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
}

#custommenu .wp-custom-menu-popup a span {
    color: #fff;
}

a.level1:link, a.level1:visited {
    cursor: default;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

a.level2:link, a.level2:visited {
    font-size: 13px;
    line-height: 16px;
}

a.level3:link, a.level3:visited {
    font-size: 11px;
    margin-bottom: 0;
}

.block2 table.brand {
    float: left;
}

.block2 .single_menu_product {
    float: left;
    position: relative;
    max-width: 150px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 0;
}

/*MOBILE MENU STYLES*/
#menu-button, .parentMenu {
    display: inline-block;
}

html[xmlns] #menu-button, html[xmlns] .parentMenu {
    display: block;
}

* html #menu-button, * html .parentMenu {
    height: 1%;
}

#menu-button:after, .parentMenu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#custommenu-mobile {
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index: 999;
}

#menu-button {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#menu-button a:link, #menu-button a:visited {
    color: #666;
    text-decoration: none;
    outline: 0 none;
    display: block;
    text-align: left;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

#menu-button a span:after {
    display: block;
    position: relative;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid #dadada;
    margin: 8px 10px 0;
    float: left;
    opacity: 0.7;
}

.menu-mobile div.column {
    float: none;
    padding: 5px;
    background: #fff;
}

.menu-mobile a.itemMenuName {
    display: block;
    text-align: left;
}

.menu-mobile div.menu-button, .menu-mobile div.menu-mobile {
    float: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.menu-mobile div.column {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu-mobile a:link, .menu-mobile a:visited {
    margin: 0;
    padding: 10px;
    color: #666;
}

.menu-mobile a.level1:hover {
    background-color: #f1f1f1;
}

/*buttons level 01*/
.menu-mobile .parentMenu {
    padding: 0 0 0 30px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #dadada;
}

.menu-mobile .parentMenu a:link, .menu-mobile .parentMenu a:visited {
    padding: 10px 0 10px 10px;
    margin-right: 80px;
    display: block;
}

.menu-mobile .parentMenu:hover {
    cursor: pointer;
}

.parentMenu {
    position: relative;
}

.parentMenu a {
    display: block;
}

.menu-mobile a, .menu-mobile a > span {
    font-weight: normal !important;
    font-size: 14px;
}
.menu-mobile .level1 > span {
    font-size: 13px;
}

.menu-mobile .level2 > span {
    margin-bottom: 0;
    font-size: 12px;
}

#custommenu-mobile .button {
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 0;
    display: block;
    width: 30px;
    height: 38px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJxJREFUeNpi/P//PwM66O3tBVF1UNwEwsXFxRjqmBhwg3wgZobSWAE+zcxoNEmaCQKKNDP29PTgkvsAxPxA/BGIBXDZ3A7Ef4D4Pxrmh6rhxyL3E4gbQZqL8AUKDsAG0gfS3AfEf0nU/AuIJ4I0VwIxC8j/aPgjVOFHLHLsQFzDiCeFoQQYqSmMtvGMT/NfNJokzQug9HRcCgACDAC34CnSSWx3zwAAAABJRU5ErkJggg==) left center no-repeat transparent;
}
#custommenu-mobile .level0 span {
    text-transform: uppercase;
}
#custommenu-mobile .button.open {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUeNpi/P//PwO5gImBAjBENbP09vZSZHM7EP8B4v8k4J9A3AjSXATEzCRaygbSB9LcB8R/SdT8C4gnsgCJSigmGTCOpjDSAECAAQBI6RqpQRaDFgAAAABJRU5ErkJggg==) left center no-repeat transparent;
}

#custommenu-mobile .level1 .button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpi/P//PwO5gAWbYG9vL4ZYcXExhhgTAwUAn+YJQAzyUxcuBYwwP2Nx6k8gZgPid0AsjM0L+Gxmg9LMxDob5lTkKOBHEuvCpzmZQBgl4NNcD8SvcWgEiTfhi+c+KGZAcvpHIBbAG9pYEglKaJOaSCqB+BrUK8QnTyxeYCDa2dRIngQBQIABAGG6KfxEmzSnAAAAAElFTkSuQmCC);
}

#custommenu-mobile .level1 .button.open {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwO5gImBAjBwmllgjN7eXqI1FRcXU9/ZE4D4Px7chU9zMgHLEvBprgfi1zg0gsSbsAYYFPRBMVGAcQSmMIo0AwQYAIYUFeQ3G04OAAAAAElFTkSuQmCC);
}

/*BG*/
#custommenu-mobile .parentMenu:hover a:link, #custommenu-mobile .parentMenu:hover a:visited, #custommenu-mobile .parentMenu:hover {
    background-color: #fff;
}

#custommenu-mobile .level0 {
    background-color: #f1f1f1;
}

#custommenu-mobile .level1 {
    background-color: #e4e4e4;
}

#custommenu-mobile .level2 {
    background-color: #e1e1e1;
}

.menu-loader-wrapper {
    text-align: center;
}

.menu-loader-wrapper > .menu-loader {
    padding: 17px 0;
}
