<?xml version="1.0"?>
<config>
    <modules>
        <TC_CleanUp>
            <version>0.1.0</version>
        </TC_CleanUp>
    </modules>
    <global>
        <helpers>
            <tc_cleanup>
                <class>TC_CleanUp_Helper</class>
            </tc_cleanup>
        </helpers>
        <blocks>
            <tc_cleanup_adminhtml>
                <class>TC_CleanUp_Block_Adminhtml</class>
            </tc_cleanup_adminhtml>
        </blocks>
        <models>
            <tc_cleanup>
                <class>TC_CleanUp_Model</class>
                <resourceModel>tc_cleanup_resrouce</resourceModel>
            </tc_cleanup>
            <tc_cleanup_resrouce>
                <class>TC_CleanUp_Model_Resource</class>
            </tc_cleanup_resrouce>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <TC_CleanUp_Adminhtml before="Mage_Adminhtml">TC_CleanUp_Adminhtml</TC_CleanUp_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <TC_CleanUp>
                    <files>
                        <default>TC_CleanUp.csv</default>
                    </files>
                </TC_CleanUp>
            </modules>
        </translate>
    </adminhtml>
</config>
