<?xml version="1.0"?>
<config>
    <modules>
        <TC_ProductSegmentation>
            <version>0.1.0</version>
        </TC_ProductSegmentation>
    </modules>
    <global>
        <models>
            <tc_productsegmentation>
                <class>TC_ProductSegmentation_Model</class>
            </tc_productsegmentation>
        </models>
        <blocks>
            <tc_productsegmentation>
                <class>TC_ProductSegmentation_Block</class>
            </tc_productsegmentation>
            <adminhtml>
                <rewrite>
                    <catalog_category_tab_product>TC_ProductSegmentation_Block_Adminhtml_Catalog_Category_Tab_Product</catalog_category_tab_product>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <tc_productsegmentation>
                <class>TC_ProductSegmentation_Helper</class>
            </tc_productsegmentation>
        </helpers>
        <resources>
            <tc_productsegmentation_setup>
                <setup>
                    <module>TC_ProductSegmentation</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </tc_productsegmentation_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <TC_ProductSegmentation>
                    <files>
                        <default>TC_ProductSegmentation.csv</default>
                    </files>
                </TC_ProductSegmentation>
            </modules>
        </translate>
        <layout>
            <updates>
                <tc_productsegmentation>
                    <file>tc_product_segmentation.xml</file>
                </tc_productsegmentation>
            </updates>
        </layout>
    </adminhtml>
</config>
